<div class="studio_middle_container">
  <h1> {{listeners}}</h1>
  <i class="fa fa-users fa-4x"></i> <br>s
  <p>
    <i class="fa fa-thumbs-o-down"></i>
    <i class="fa fa-thumbs-o-up"></i>
  </p>
</div>


<div class="track-information">
  <div class="column full">
    {{!-- <img src={{artwork_url}} alt="Album artwork not available"> --}}
     <div class="listener-container">
     </div>
    {{!-- <p>Sound Brought To You By: {{user.username}}</p> --}}
  </div>
  {{!-- <a href={{permalink_url}}>Listen on SoundCloud</a> --}}
  <footer class="column full">
    <p> <i class="fa fa-play-circle-o fa-2x"></i> </p> <br>
    {{title}} <br>
  </footer>
</div>

<div class="audio-player">
  <audio id="audio_player" hidden="hidden"controls>
    <source src="{{stream_url}}?client_id={{client_id}}" type="audio/mpeg">
    <source src="{{stream_url}}?client_id={{client_id}}" type="audio/mpeg">
    <source src="{{stream_url}}?client_id={{client_id}}" type="audio/mpeg">
  </audio>
</div>
