{{!NOTE: The 'T' on line 7 is a placeholder until we know more about the logo}}
{{!NOTE: The mustache tag names may need to be changed depending on the structure of what is being passed to the template builder}}
{{!NOTE: The audio player is currently hidden and set to play automatically. To change this for any debugging purposes, just change 'autoplay' to 'controls'}}


<div class="main_title">
  <a href={{root_path}}><h3 class="trala-logo">T</h3></a><h2>{{name}}</h2>
</div>

<div class="listener-count">
  <h1>{{listeners}}</h1>
</div>

<div class="current-track">
  <h3>Now Playing:</h3>
  <h3>{{title}}
</div>

<div class="audio-player">
  <audio autoplay>
    <source src="{{stream_url}}?client_id={{client_id}}" type="audio/mpeg">
  </audio>
</div>
