{{#each studio.playlist}}
	<div class="track-information">
  	<img src={{artwork_url}} alt="Album artwork not available">
  	<p>Now Playing: {{title}} </p>
	</div>

	<div class="audio-player">
  	<audio id="{{index}}" controls>
    	<source src="{{stream_url}}?client_id={{client_id}}" type="audio/mpeg">
  	</audio>
	</div>
{{/each}}
